img {
  height: 100px;
  width: auto;
}

#output {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
  text-align: center;
  font-family: 'Lucida Sans';
  font-weight: bold;
  font-size: 45px;
  background-color: rgb(162, 227, 231);
}

.panel-body {
  background-color: rgb(224, 240, 240) ;
}

#c, #javascript, #python {
  display: none;

}